.password__encryption-options__checkbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-checkbox-container {
  display: flex;
  align-items: center;
}

.input-checkbox-container input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-almostWhite);
  border-radius: 3px;
  margin-right: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.input-checkbox-container input[type="checkbox"]:checked {
  background-color: var(--color-neonGreen);
  border-color: var(--color-neonGreen);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%2318171f' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px;
}
.input-checkbox-container input[type="checkbox"]:hover {
  border-color: var(--color-neonGreen);
}
.input-checkbox-container input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(164, 255, 175, 0.5);
}

.input-checkbox-container label {
  cursor: pointer;
}
