.slider-container {
  width: 100%;
  margin-bottom: 4.2rem;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: var(--color-veryDarkGrey);
  border-radius: 5px;
  outline: none;
  padding: 0;
  margin: 0;
}

.slider::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 5px;
}

.slider::-moz-range-track {
  height: 8px;
  border-radius: 5px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var(--color-neonGreen);
  transition: background-color 0.3s ease;
  margin-top: -10px;
}

.slider::-moz-range-thumb {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var(--color-neonGreen);
  transition: background-color 0.3s ease;
}

.slider::-webkit-slider-thumb:hover,
.slider::-moz-range-thumb:hover {
  background-color: var(--color-neonGreen);
}

.slider-value {
  color: var(--color-neonGreen);
}

.slider:active::-moz-range-thumb,
.slider:focus::-moz-range-thumb {
  background-color: black;
}

.slider:active::-webkit-slider-thumb,
.slider:focus::-webkit-slider-thumb {
  background-color: black;
}
