.password {
  max-width: 54rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 13.3rem;
  & h1 {
    text-align: center;
    margin-bottom: 3.1rem;
  }
  &__output-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8rem 3.2rem;
    margin-bottom: 2.4rem;
    background-color: var(--color-darkGrey);
    &__key {
      color: var(--color-almostWhite);
    }
    &__icon:hover {
      cursor: pointer;
      & svg path {
        fill: var(--color-pure-white);
      }
    }
  }
  &__encryption-options {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2.5rem;
      & label {
        color: var(--color-almostWhite);
      }
    }
    & input {
      width: 100%;
    }
    &__checkbox {
      display: flex;
      flex-direction: column;
      gap: 1.9rem;
      margin-bottom: 3.2rem;
      & input {
        width: 20px;
        height: 20px;
      }
      & label {
        color: var(--color-almostWhite);
      }
    }
  }
  &-strength-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.2rem;
    padding: 2.5rem 3.2rem 2.3rem;
    background-color: var(--color-veryDarkGrey);
    &__title {
      color: var(--color-grey);
    }
    &__container {
      display: flex;
      align-items: center;
      gap: 1.55rem;
    }
    & span {
      color: var(--color-almostWhite);
    }
    & .strength-bars {
      display: flex;
      gap: 0.8rem;
    }
    & .bar {
      width: 10px;
      height: 28px;
    }
    & .filled {
      background-color: var(--color-yellow);
    }

    & .empty {
      border: 2px solid var(--color-almostWhite);
    }
  }
  &__generateBtn {
    width: 100%;
    padding: 2.1rem 0;
    background-color: var(--color-neonGreen);
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2.4rem;
    }
    & .btn-title {
      text-transform: uppercase;
      color: var(--color-darkGrey);
    }
    &:hover {
      cursor: pointer;
      border: 2px solid var(--color-neonGreen);
      background-color: var(--color-darkGrey);
      & .btn-title {
        color: var(--color-almostWhite);
      }

      & .btn-icon path {
        fill: var(--color-almostWhite);
      }
    }
  }
}

.generate-password-container {
  text-transform: uppercase;
  padding: 3.2rem;
  background-color: var(--color-darkGrey);
}
