.attribution {
  margin: 1.6rem 0;
  font-size: 1.1rem;
  text-align: center;
  color: var(--color-almostWhite);
  &__credit {
    font-weight: 800;
    color: var(--color-neonGreen) !important;
  }
}
